<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-task">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="">
          <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="liTasks" class="nav-link" href="#Tasks">Tasks</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <label for="" class="mr-4 text-white" id="lblUserId">Jp</label>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="button">
          Log out
        </button>
      </form>
    </div>
  </nav>