<div class="card div-searchTasks m-3">
    <div class="card-header bg-primary text-white">
      <h4>Tasks search</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-8 col-sm-12">
            <input type="text" class="form-control" placeholder="Tasks search">
          </div>
          <div class="form-group col-md-3 col-sm-10">
            <select class="form-control">
              <option value="">Filter</option>
              <option value="from">From</option>
              <option value="To">To</option>
              <option value="Title">Title</option>
            </select>
          </div>
          <div class="form-group col-md-1 col-sm-2">
            <button type="button" id="btn-search-tasks">
              <img id="img-search-tasks" src="../images/search.png" alt="" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>